header {
  margin-top: 50px;
  width: 100%;
  position: relative;
  background-color: rgb(220, 200, 190);
  background-image: url("../assets/images/matthias-heil-mindfulness.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-overlay {
  position: relative;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 230, 130, 0.2);
}
h1 {
  font-size: 2.5em;
  text-align: center;
  padding: 1.5em 0;
}

main {
  text-align: center;
}
h5 {
  padding-bottom: 1em;
}

.mandala {
  display: block;
  max-width: 80%;
  padding-bottom: 40px;
  margin: 5px auto 10px;
}
