@font-face {
  font-family: "Hind";
  src: url("../assets/fonts/Hind-Light.ttf")
}
@font-face {
  font-family: "Lane";
  src: url("../assets/fonts/Lane-Narrow.ttf")
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Hind", Verdana, sans-serif;
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lane", Verdana, sans-serif;
}
main, footer {
  font-size: 0.5em;
}

.container {
  min-width: 330px;
  padding: 0 5%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background-color: #ffffff;
  z-index: 2;
}
.menu-button {
  float: right;
  cursor: pointer;
  margin: 0 5% 0 0;
  padding: 2px 9px;
}
.menu-button > div {
  width: 44px;
  height: 6px;
  background-color: #a08c82;
  border-radius: 6px;
  margin: 7px 0;
  transition: 0.4s;
}
.menu-button:hover > div {
  background-color: #64828c;
}
.change > div:first-child {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  -moz-transform: rotate(-45deg) translate(-9px, 9px);
  -ms-transform: rotate(-45deg) translate(-9px, 9px);
  -o-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-9px, 9px);
}
.change > div:nth-child(2) {
  opacity: 0;
}
.change > div:last-child {
  -webkit-transform: rotate(45deg) translate(-9px, -9px);
  -moz-transform: rotate(45deg) translate(-9px, -9px);
  -ms-transform: rotate(45deg) translate(-9px, -9px);
  -o-transform: rotate(45deg) translate(-9px, -9px);
  transform: rotate(45deg) translate(-9px, -9px);
}
.menu {
  clear: both;
  display: none;
  padding: 9px 0;
}
.menu > li {
  text-align: center;
  font-size: 18px;
  padding: 9px 0;
}
nav a:link, nav a:visited {
  color: #000;
  text-decoration: none;
}
nav a:hover, nav a:focus, nav a:active  {
  color: #000;
  text-decoration: underline;
}

.content-container {
  background-color: #d2c3af;
  padding-bottom: 1em;
}

header {
  width: 100%;
  height: 100vh;
  /* min-height: 600px;
  max-height: 740px; */
  position: relative;
  top: -50px;
  /* background-color: #a08c82; */
  background-color: white;
  background-image: url("../assets/images/swan-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding: 0 5%;
  line-height: 1.5;
}
main h2 {
  font-size: 2.4em;
  text-align: center;
}
main h3 {
  font-size: 2em;
}
main h4 {
  font-size: 1.8em;
}
main h5 {
  font-size: 1.6em;
}
main h6 {
  font-size: 1.2em;
}
p {
  font-size: 1.04em;
}
em {
  font-size: 1.2em;
}
i {
  font-style: italic;
}
small {
  font-size: 0.88em;
}
main ul {
  padding: 0 1.5em;
}
main li {
  list-style-image: url('../assets/icons/dot.png');
  font-size: 1.04rem;
}

#intro {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
#about-me {
  max-width: 750px;
  margin: 0 auto;
}
.head-shot {
  max-width: 90%;
  display: block;
  margin: 1em auto 3em;
  border-radius: 50%;
}
#coaching-intro {
  max-width: 990px;
  margin: 0 auto;
}
#coaching-packages, #home-retreats, #other-services {
  max-width: 900px;
  margin: 0 auto;
}
#coaching-packages article {
  padding-top: 1em;
}
#about-me h2, #coaching-intro h2, #coaching-packages h2, #coaching-packages h3, #home-retreats h2, #home-retreats h3, #home-retreats h5, #other-services h2 {
  padding: 0.5em;
}
#intro h5, #about-me article > p, #coaching-intro p, #coaching-intro ul {
  margin: 1em 0;
}
#intro article > p, #coaching-packages article > p, #coaching-packages ul, #home-retreats article > p, #home-retreats ul, #other-services p, #other-services ul{
  margin: 1em 0.5em;
}
#other-services ul ul, #home-retreats ul ul {
  margin: 0;
}

.button-container, .quote-container {
  padding: 2em;
  text-align: center;
}
.cta-button {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid dimgray;
  cursor: pointer;
}
.cta-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.cta-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.cta-button strong {
  font-family: "Lane", Verdana, sans-serif;
  font-size: 1.6em;
}
.quote {
  display: inline-block;
  padding: 0.5em 2em;
  border: 1px solid dimgray;
}
.quote p {
  margin: 0.5em;
}
.quote p:last-child, .testimonial p:last-child {
  text-align: right;
}
.been-called {
  display: none;
  max-width: 550px;
  padding: 0.5em 0;
  margin: 0 auto;
  text-align: center;
}
.been-called p {
  margin: 0.5em 0;
}
.been-called em {
  font-weight: bold;
}
.been-called small {
  cursor: pointer;
  font-size: 0.85em;
}
.been-called small:hover, .testimony-button:hover, #coaching-packages small:hover, .testimony-button:hover, #home-retreats small:hover {
  text-decoration: underline;
}
.testimony-container {
  max-width: 770px;
  padding: 2em 25px;
  margin: 0 auto;
  text-align: center;
}
.testimony-button {
  display: inline-block;
  padding: 0.5em;
  cursor: pointer;
}
.testimony {
  display: none;
}
.testimony p {
  margin: 0.5em 0;
}
.testimony p:first-child {
  text-align: left;
  font-size: 1.01em;
}
.testimony p:nth-child(2) {
  text-align: right;
}
.testimony small {
  cursor: pointer;
}
.divider {
  padding: 25px;
}
.divider img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.details {
  display: none;
}

footer#contact {
  background-color: white;
  padding-bottom: 40px;
  text-align: center;
  font-size: 1.15em;
  position: relative;
  z-index: 1;
}
.mandala {
  display: block;
  margin: 40px auto 0;
  max-width: 85%;
}
#contact p {
  margin: 1em;
}
#contact em {
  font-weight: bold;
}
#contact p:first-child {
  font-family: "Lane", Verdana, sans-serif;
  font-size: 2.5em;
  margin: 0.5em 0 2em;
}

.bottom-border {
  width: 100%;
  min-height: 50px;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
}

.social-container {
  position: fixed;
  bottom: 0;
  right: 5%;
  padding: 6px 0;
  overflow: auto;
  z-index: 2;
}
.social-icon {
  float: right;
  border-radius: 50%;
  margin: 0 6px;
  overflow: hidden;
}
.social-icon img {
  background-color: #a08c82;
  width: 38px;
  padding: 9px;
  vertical-align: middle;
}
.social-icon:hover img {
  background-color: #64828c;
}
.instagram, .medium {
  padding: 8px;
}
.linkedin {
  padding: 8px 9px 10px 9px;
}
.twitter {
  padding: 9px 7px 7px 9px;
}

@media only screen and (min-width : 1000px) {
  .container {
    padding: 0 50px;
  }
  .menu-button {
    display: none;
  }
  .menu {
    display: block;
    padding: 0;
    text-align: center;
  }
  .menu > li {
    display: inline-block;
    padding: 0;
    margin: 16px;
  }
  .social-container {
    right: 50px;
  }
}
