@font-face {
  font-family: "Hind";
  src: url("../assets/fonts/Hind-Light.ttf")
}
@font-face {
  font-family: "Lane";
  src: url("../assets/fonts/Lane-Narrow.ttf")
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Hind", Helvetica, Arial, sans-serif;
  font-size: 100%;
}
h1, h2, h3, h4, h5 {
  font-family: "Lane", Helvetica, Arial, sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container {
  min-width: 330px;
  padding: 0 2.5%;
}

/* navigation / top-border */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background-color: #ffffff;
  z-index: 2;
}
.menu-button {
  float: right;
  cursor: pointer;
  margin: 0 5% 0 0;
  padding: 2px 9px;
}
.menu-button > div {
  width: 44px;
  height: 6px;
  background-color: #8b8074;
  border-radius: 6px;
  margin: 7px 0;
  transition: 0.4s;
}

.change > div:first-child {
  -webkit-transform: rotate(-45deg) translate(-9px, 9px);
  -moz-transform: rotate(-45deg) translate(-9px, 9px);
  -ms-transform: rotate(-45deg) translate(-9px, 9px);
  -o-transform: rotate(-45deg) translate(-9px, 9px);
  transform: rotate(-45deg) translate(-9px, 9px);
}
.change > div:nth-child(2) {
  opacity: 0;
}
.change > div:last-child {
  -webkit-transform: rotate(45deg) translate(-9px, -9px);
  -moz-transform: rotate(45deg) translate(-9px, -9px);
  -ms-transform: rotate(45deg) translate(-9px, -9px);
  -o-transform: rotate(45deg) translate(-9px, -9px);
  transform: rotate(45deg) translate(-9px, -9px);
}
.menu {
  clear: both;
  display: none;
  padding: 9px 0;
}
.menu > li {
  text-align: center;
  font-size: 18px;
  padding: 9px 0;
}
nav a:link, nav a:visited {
  color: #000;
  text-decoration: none;
}
nav a:focus, nav a:active  {
  color: #000;
  text-decoration: underline;
}

/* main content */

.content-container {
  background-color: #dbd6cc;
}

/* main */
main {
  padding: 0 2.5%;
  line-height: 1.5;
}
main section {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em 0 0;
}
#intro {
  max-width: 700px;
  text-align: center;
}
#about-me {
  max-width: 750px;
}
#coaching-intro, #other-services {
  padding: 2em 0;
}
main h2, main h3, main h4, main h5 {
  padding: 0.5em 0;
}
main h2 {
  font-size: 2em;
  text-align: center;
}
main h3 {
  font-size: 1.75em;
}
main h4 {
  font-size: 1.5em;
}
main h5 {
  font-size: 1.25em;
}
main p {
  padding: 0.5em 0;
}
article > ul {
  padding: 0.5em 1.25em;
}
main li {
  list-style-image: url('../assets/icons/dot.png');
}
li > ul {
  padding: 0 1.25em;
}
em {
  font-size: 1.2em;
}
i {
  font-style: italic;
}
small {
  font-size: 0.88em;
}
strong {
  font-family: "Lane", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
}

/* head shot */
.head-shot {
  margin: 2em auto;
  border-radius: 50%;
}

/* cta button */
.cta-button {
  padding: 2em;
  text-align: center;
}
.cta-button div {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid dimgray;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.cta-button div:active {
  background-color: rgba(0, 0, 0, 0.2);
}

/* been called */
.been-called {
  display: none;
  max-width: 550px;
  padding: 0 0 2em;
  margin: 0 auto;
  text-align: center;
}
.been-called em {
  font-weight: bold;
}
.been-called small {
  text-decoration: underline;
  cursor: pointer;
}

/* divider */
.divider {
  padding: 1em;
}

/* quote */
.quote {
  padding: 1em;
  text-align: center;
}
.quote div {
  display: inline-block;
  padding: 0.75em 2em;
  border: 1px solid dimgray;
}
.quote p:last-child {
  text-align: right;
}

/* testimony */
.testimony-container {
  position: relative;
  max-width: 770px;
  min-height: 5em;
  padding: 0 1.5em 2em;
  margin: 0 auto;
  text-align: center;
}
.testimony-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: underline;
  cursor: pointer;
}
.testimony {
  display: none;
  font-size: 0.95em;
}
.testimony p:first-child {
  text-align: left;
}
.testimony p:nth-child(2) {
  text-align: right;
}
.testimony small {
  text-decoration: underline;
  cursor: pointer;
}

/* details */
.details {
  display: none;
}
.details-button {
  text-decoration: underline;
  cursor: pointer;
}


/* footer */

footer {
  background-color: #ffffff;
  padding: 1em 0 3em;
  text-align: center;
  position: relative;
  z-index: 1;
}
#contact p {
  padding: 0.5em 0;
}
#contact p:nth-child(odd) {
  font-weight: bold;
}
#contact p:first-child {
  font-size: 1.5em;
  padding: 0.5em 0 2em;
}


.bottom-border {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
}


.social-container {
  position: fixed;
  bottom: 0;
  right: 2.5%;
  padding: 6px 0;
  overflow: auto;
  z-index: 2;
}
.social-icon {
  float: right;
  border-radius: 50%;
  margin: 0 6px;
  overflow: hidden;
}
.social-icon:first-child {
  margin: 0 0 0 6px;
}
.social-icon img {
  background-color: #8b8074;
  width: 38px;
  padding: 9px;
  vertical-align: middle;
}
.social-icon:active img {
  background-color: #64828c;
}
.instagram, .medium {
  padding: 8px;
}
.linkedin {
  padding: 8px 9px 10px 9px;
}
.twitter {
  padding: 9px 7px 7px 9px;
}

@media only screen and (min-width : 600px) {
  .container {
    padding: 0 5%;
  }
  main {
    padding: 0 5%;
  }
  main h2 {
    font-size: 2.5em;
  }
  main h3 {
    font-size: 2em;
  }
  main h4 {
    font-size: 1.75em;
  }
  main h5 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.04em;
  }
  main ul {
    font-size: 1.04rem;
  }
  .social-container {
    right: 5%;
  }
}
@media only screen and (min-width : 1000px) {
  .container {
    padding: 0 50px;
  }
  .menu-button {
    display: none;
  }
  .menu {
    display: block;
    padding: 0;
    text-align: center;
  }
  .menu > li {
    display: inline-block;
    padding: 0;
    margin: 16px;
  }
  main {
    padding: 0 50px;
  }
  .social-container {
    right: 50px;
  }
}
@media only screen and (min-width : 1200px) {
  nav a:hover  {
    text-decoration: underline;
  }
  #contact {
    font-size: 1.15em;
  }
  .social-icon:hover img {
    background-color: #507585;
  }
}
/* END */
